asgiref
backports.zoneinfo
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-allauth-2fa
django-crispy-forms
django-otp
idna
oauthlib
pycparser
PyJWT
python3-openid
pytz
qrcode
requests
requests-oauthlib
sqlparse
urllib3